a:link {
    color: rgb(0, 41, 128);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(15, 24, 81);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(40, 25, 124);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(161, 162, 255);
    background-color: transparent;
    text-decoration: underline;
}

button:hover {
    color: rgb(46, 46, 54);
    background-color: rgb(46, 46, 54);
    text-decoration: none;
}

button:button {
    color:rgb(161, 162, 255);
    background-color: rgb(161, 162, 255);
    text-decoration: none;
}